.dark {
  background: dimgrey;
}

.dark-text,
.dark-text ~ * {
  color: aliceblue;
}

.red {
  background: lightcoral;
}

.red-text,
.red-text ~ * {
  color: aqua;
}

.some {
  background: lightgreen;
}

.some-text,
.some-text ~ * {
  color: darkslateblue;
}