.button {
  margin: 5px;
  padding: 5px 12px;
  text-transform: capitalize;
  font-size: 15px;
  /*font-weight: 400;*/
  letter-spacing: 1px;
  border: none;
  border-radius: 8px;
  color: #fff;
  transition: box-shadow .2s ease-out;
  /*box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);*/
}

.button:hover {
  cursor: pointer;
  /*transform: scale(1.02);*/
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

.button:disabled {
  background-color: rgba(85, 85, 255, 0.4);
  cursor: not-allowed;
  transform: scale(1);
  box-shadow: none;
}

.button:focus {
  outline: none;
}

button:active {
  transform: scale(0.96);
  box-shadow: none;
}

.default {
  background-color: #5555ff;
}

.red {
  background: tomato;
}